{% trans %}
<p>
  The Open Data Portal of the Ministry of Health Sri Lanka is the official data
  repository for open data in healthcare in Sri Lanka (open government data).
</p>

<h2>What is open data?</h2>

<p>
  Open data is data that can be freely used, re-used and redistributed by anyone
  - subject only, at most, to the requirement to attribute and sharealike.
</p>

<p>
  The open data portal provides access for users to the official datasets
  published by the ministry of health sri lanka as part of the open data
  initiative of the Ministry of Health Sri Lanka. The portal also shares
  datasets submitted to the portal by academics in various areas of research
  related to healthcare in Sri Lanka.
</p>

<p>
  Users can search for datasets using the open data portal and download the
  datasets for their intended use. The datasets are provided without copyright.
  However, some datasets may require attribution. Please check the licensing of
  the datasets before downloading.
</p>

{% endtrans %}
