<div x-data="categoriesApp()" x-init="fetchCategories()">
  <div class="container">
    <div class="row justiry-content-center">
      <template x-for="category in categories">
        <li x-text="category.title"></li>
      </template>
    </div>
  </div>
</div>

<script>
  const fetchCategories = async () => {
    const fetchData = await fetch("/zemantic/api/home/categories");
    if (fetchData.status !== 200) return;
    const data = await fetchData.json();
    const categories = data.data.categories;
    return categories
  }

  const categoriesApp = () => {
    return {
      categories: []
    };
  };
</script>
