{% set tags = h.get_facet_items_dict('tags', c.search_facets, limit=3) %} {% set
placeholder = _('e.g. Covid19') %}

<div class="module module-search module-narrow module-shallow box">
  <form
    class="module-content search-form"
    method="get"
    action="{% url_for 'dataset.search' %}"
  >
    <div
      class="search-input bg-white d-flex has-feedback form-group search-giant"
    >
      <input
        aria-label="{% block header_site_search_label %}{{ _('Search datasets') }}{% endblock %}"
        id="field-main-search"
        type="text"
        class="form-control form-control-lg"
        name="q"
        value=""
        autocomplete="off"
        placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}"
      />
      <button type="submit" class="btn btn-light">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </form>
  <div class="tags mt-3 mt-md-0">
    <h3 class="text-white">{{ _('Popular tags') }}</h3>
    {% for tag in tags %}
    <a class="tag text-white" href="{% url_for 'dataset.search', tags=tag.name %}"
      >{{ h.truncate(tag.display_name, 22) }}</a
    >
    {% endfor %}
  </div>
</div>
