body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #efefef;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.page-header {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #0d2e38;
}

.form-control {
  border-radius: 0%;
}
