{# <li class="item {{ activity.activity_type|replace(' ', '-')|lower }}">
  <i class="fa icon fa-briefcase"></i>
  <p>
    {{ _('{actor} created the organization {organization}').format(
      actor=ah.actor(activity),
      organization=ah.organization(activity)
    )|safe }}
    <br />
    <span class="date" title="{{ h.render_datetime(activity.timestamp, with_hours=True) }}">
      {{ h.time_ago_from_timestamp(activity.timestamp) }}
    </span>
  </p>
</li> 
#}

<div class="card my-3">
  <div class="card-body">
    <h5 class="card-title">
      {{ _('{actor}').format(
        actor=ah.actor(activity),
      )|safe }}
    </h5>
    <p class="card-subtitle text-muted mb-2">
      <span class="date" title="{{ h.render_datetime(activity.timestamp, with_hours=True) }}">
        {{ h.time_ago_from_timestamp(activity.timestamp) }}
      </span> 
    </p>
    <p class="card-text">
      <i class="fa-solid fa-building"></i>
      {{ _('Created the organization {organization}').format(
        organization=ah.organization(activity)
      )|safe }} 
    </p>
  </div>
</div>
