{% extends "pagesl.html" %}

{% block subtitle %}{{ _('Register') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active breadcrumb-item">{{ h.nav_link(_('Registration'), class_="text-white", named_route='user.register') }}</li>
{% endblock %}

{% block pre_primary %}
  <div class="justify-content-md-center">
    <div class="col-md-6">
      <div class="d-flex justify-content-center mt-4 mb-3">
        <img src="/base/images/logo.png" height="128" alt="open data portal">
      </div>
      <h1 class="h4 text-center mb-2">
        {% block page_heading %}{{ _('Open Data Portal of The Ministry of Health Sri Lanka') }}{% endblock %}
      </h1>
      <h2 class="class h5 text-center mb-4">Register for an account to submit data and use the Open Data Portal</h2>
      {{ form | safe }}
    </div>
  </div>
{% endblock %}