$colorPrimary: #009688;

body {
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.page-header {
  padding-top: 30px;
  padding-bottom: 30px;
  background: $colorPrimary;
}

.form-control {
  border-radius: 0%;
}

.nav-pills {
  .nav-link {
    font-weight: 600;
    border-radius: 0%;
  }
  .active {
    border-left: 4px solid;
    border-left-color: $colorPrimary;
    background-color: #eee;
  }
}
