$colorPrimary: #009688;

body {
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600 !important;
}

.page-header {
  padding-top: 30px;
  padding-bottom: 30px;
  background: $colorPrimary;
}

.form-control {
  border-radius: 0%;
}

.nav-pills {
  .nav-link {
    font-weight: 600;
    border-radius: 0%;
  }
  .active {
    border-left: 4px solid;
    border-left-color: $colorPrimary;
    background-color: #eee;
  }
}

.dataset-item {
  border-bottom: 1px solid #eee;
}

.home-hero {
  background-color: $colorPrimary;
  .container {
    height: 100%;
    background-image: linear-gradient(transparent, transparent),
      url(/base/images/lk-03.svg);
    background-position: right;
    background-repeat: no-repeat;
  }
}
.fw-semi-bold {
  font-weight: 600;
}

.ckan-link-success {
  color: $colorPrimary;
  &:hover {
    color: darken($color: $colorPrimary, $amount: 10);
  }
}

.hover-b-1 {
  border-bottom: 2px solid transparent;
  &:hover {
    border-bottom: 2px solid #eee;
  }
}
